# Notes
notes/Vision PDF - Update 1.pdf
notes/slides_and_notes.md

# Python
__pycache__/

# Models
models/

# Datasets
DocLayNet/
OmniDocBench/

# Results
results/

# Demo Files
demo/doc*

# Environment Variables
.env

# Extras
debug*
out.txt
openrouter_examples/